/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* CSS boilerplate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #D2E3C8;
    display: grid;
    place-items: center;
}

/* Styling CSS from here */
#main{
    width: 360px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(120, 120, 120);
}
#main .title{
    line-height: 100px;
    background-color: #86A789;
    font-size: 30px;
    font-weight: 600;
    color: #def8cf;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
#main form{
    padding: 10px 30px 50px 30px;
}
#main form .interface{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
#main form .interface input{
    height: 100%;
    width: 100%;
    font-weight: 600;
    padding-left: 15px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    outline: none;
}
#main form .interface label{
    position: absolute;
    top: 28%;
    left: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 17px;
}
#main form .interface input:focus ~ label{
 top: -23%; 
 font-size: 16px;
 color: #86A789;
 background-color: white;
}
